*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    padding: 20px;
}
.box button{
    width: 100px;
    height: 30px;
}
.box span{
    font-size: 30px;
}